<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Localhosting</title>
    <style>
        * {
            background: #0d1117;
            color: #fafafa;
            text-align: center;
        }

        h1 {
            margin: 50px;
        }

        table {
            margin-left: auto;
            margin-right: auto;
        }

    </style>
</head>
<body>
    <div>
        <h1>Localhosting</h1>
    </div>

    <div>
        <div>
            <h2>current Tunnels</h2>
        </div>
        <div>
            <table>
                <tbody>
                    <tr th:each="tunnelUrl : ${currentTunnelUrls}">
                        <td> <a th:text="${tunnelUrl}" th:href="@{'http://' + ${tunnelUrl}}"></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>
</html>